.DS_Store
.settings/
.sass-cache/
.project
.idea
npm-debug.log*
yarn-error.log
package-lock.json
style/.sass-cache/
stats.json
.npmrc
.turbo

img/
images/
private/
vendor/
coverage/
node_modules/
bower_components/
dragifyjs-*.tgz
_index.html
docs/.vuepress/dist


.nx/cache
.nx/workspace-data